@media screen and (max-width: 1400px) {
    .consult {
        &__content {
            flex-direction: column;
            align-items: flex-start;
            padding: 30px 0 35px;
        }

        &__form {
            margin-left: 0;
            margin-top: 23px;
            width: 100%;
        }
    }
}

@media screen and (max-width: 1200px) {
    .main-menu {
        &__link {
            opacity: 1;
        }

        &__img {
            display: none;
        }
    }

    .navigation {
        &__add-menu {
            padding-left: 0;
        }
    }

    .process-item {
        &__header {
            flex-wrap: wrap;
        }

        &__title {
            width: 100%;
        }
    }

    .elem {
        &__header {
            width: 465px;
        }
    }
}

@media screen and (max-width: 1170px) {
    
}

@media screen and (max-width: 991px) {
    .title1 {
        font-size: 70px;
    }

    .main-menu {
        &__item {
            margin: 7px 0;
        }

        &__link {
            font-size: 85px;
        }
    }

    .header {
        padding: 0 15px;

        &__telegram {
            .link__text {
                display: none;
            }
        }
    }

    .navigation {
        padding: 0 70px;

        &__add {
            margin-top: 95px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
        }

        &__main-menu {
            margin-right: 0;
        }

        &__order {
            margin-top: 0;
        }
    }

    .projects {
        &__title {
            margin-bottom: 30px;
        }
    }

    .project {
        padding: 35px 0;

        &__inf {
            padding: 0;
            padding-bottom: 30px;
        }

        &__text {
            margin: 25px 0 0;
        }

        &__btn {
            &_desktop {
                display: none;
            }

            &_mobile {
                display: inline-block;
            }
        }

        &__img {
            max-height: 226px;
        }
    }

    .elem {
        flex-wrap: wrap;
        padding: 50px 0 90px;

        &__header {
            width: 100%;
        }

        &__title {
            width: auto;
            flex: 1 1 auto;
        }

        &__text {
            width: 100%;
            max-width: 100%;
            margin-top: 25px;
        }

        &_task {
            flex-wrap: nowrap;

            .elem__text {
                margin-top: 0;
            }

            .elem__num {
                margin-top: 4px;
            }
        }
    }

    .bot-features {
        padding: 45px 0 55px;

        &__subtitle {
            margin-bottom: 100px;
        }

        &__animate {
            margin: 0 auto 80px;
        }
    }
}

@media screen and (max-width: 767px) {
    .title1 {
        font-size: 42px;
    }

    .title2 {
        font-size: 24px;
    }

    .subtitle {
        font-size: 20px;
    }

    .mobile-menu {
        display: block;
    }

    .main-menu {
        &__link {
            font-size: 42px;
        }

        &__circle {
            top: -40px;
            left: 10px;

            &:before {
                width: 410px;
                height: 410px;
                left: -130px;
            }

            &:after {
                left: 150px;
                top: -55px;
            }
        }
    }

    .header {
        height: 80px;
        align-items: center;
        position: fixed;
        z-index: 2;
        width: 100%;

        &__logo {
            padding: 7px 8px 4px;
            transform: translateY(0);

            .logo__img {
                max-width: 85px;
            }
        }

        &__right {
            display: none;
        }
    }

    .main {
        padding-top: 80px;

        &__navigation {
            margin: 95px 0 50px;
        }
    }

    .navigation {
        padding: 0;

        &__add {
            display: block;
        }

        &__order {
            margin: 40px auto 0;
        }
    }

    .footer {
        &__top {
            padding-bottom: 35px;
        }

        &__logo {
            &_mobile {
                display: inline-block;
            }

            &_desktop {
                display: none;
            }
        }
    }

    .projects {
        padding-top: 40px;
        
        &__title {
            margin-bottom: 20px;
        }
    }

    .project {
        &__title {
            font-size: 32px;
        }

        &_next {
            .project__btn {
                width: 100%;
            }
        }
    }

    .cases {
        padding: 70px 0 40px;

        &__title {
            margin-bottom: 30px;
        }

        &__item {
            padding-right: 0;
        }
    }

    .single-project {
        padding: 10px 0 80px;

        &__back-btn {
            width: 35px;
            height: 23px;
        }

        &__main {
            margin-top: 70px;
        }

        &__img {
            margin-top: 30px;
            border-width: 10px;
        }
    }

    .next-case {
        padding: 30px 0 35px;

        &__title {
            margin-bottom: 10px;
        }
    }

    .apps {
        &__list {
            margin-top: 80px;
        }
    }

    .elems-list {
        &__item {
            &:not(:first-child) {
                margin-top: 40px;
            }
        }
    }

    .elem {
        padding: 40px 0 20px;

        &__title {
            font-size: 30px;
        }

        &__num {
            width: 40px;
            flex: 0 0 auto;
            line-height: 1;
        }

        &_task {
            .elem__num {
                width: 50px;
            }
        }
    }

    .process {
        padding: 60px 0 65px;

        &__subtitle {
            margin-top: 10px;
        }

        &__list {
            margin-top: 60px;
        }
    }

    .process-item {
        &__header {
            flex-wrap: nowrap;
        }

        &_bot {
            .process-item__link-box {
                margin-top: 40px;
            }
        }
    }

    .develop {
        &__list {
            margin-top: 70px;
        }
    }

    .develop-list {
        &__item {
            &:not(:first-child) {
                margin-top: 50px;
            }
        }
    }

    .develop-item {
        flex-direction: column;

        &__inf {
            margin-top: 30px;
        }

        &__title {
            font-size: 32px;
        }
    }

    .consult {
        position: relative;
    }

    .consult-form {
        flex-direction: column;
        align-items: flex-start;

        &__field {
            width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
        }

        &__submit {
            width: 100%;
        }
    }

    .logotypes {
        padding: 40px 0;

        &__title {
            margin-bottom: 50px;
        }
    }

    .section-header {
        &__content {
            &:after {
                margin-top: 60px;
            }
        }
    }

    .bots {
        &__section-header {
            .section-header__content:after {
                margin-top: 70px;
            }
        }
    }

    .chat-bots {
        padding: 45px 0;

        &__subtitle {
            margin-bottom: 60px;
        }
    }

    .chat-bot {
        &__img {
            width: 60px;
            height: 60px;
            margin-right: 15px;
        }
    }

    .footer {
        padding: 40px 0 50px;
    }

    .bot-animate {
        width: 262px;

        &__eyebrows {
            height: 48px;
        }

        &__eyebrow-part {
            width: 16px;
            height: 16px;

            &_left_2 {
                left: 16px;
                top: 16px;
            }
    
            &_left_3 {
                left: 32px;
                top: 32px;
            }
    
            &_right_2 {
                right: 16px;
                top: 16px;
            }
    
            &_right_3 {
                right: 32px;
                top: 32px;
            }
        }

        &__eyes {
            margin-top: 40px;
            height: 32px;
        }

        &__eye {
            width: 32px;
            height: 32px;
        }

        &__mouth {
            margin-top: 78px;
            height: 48px;
        }

        &__mouth-corner {
            width: 16px;
            height: 32px;
        }

        &__middle-lip {
            height: 16px;
            width: 32px;
        
            &_left {
                left: 16px;
                top: 16px;
            }
    
            &_right {
                right: 16px;
                top: 16px;
            }
        }

        &__lower-lips {
            height: 16px;
            width: 190px;
            margin-left: -95px;
        }
    }

    .features-list {
        &__item {
            font-size: 20px;

            &:not(:first-child) {
                margin-top: 35px;
            }
        }
    }
}

@media screen and (max-width: 330px) {
    .main-menu {
        &__link {
            font-size: 40px;
        }
    }
}

@media screen and (max-width: 480px) {

}
