@import 'mixins';
@import 'vars';
@import 'libs';
@import 'base';
@import 'fonts';
@import 'anim';

body {
    background: $color-bg;
}

.btn {
    line-height: 1.55;
    border-radius: 30px;
    border: 1px solid $color-primary;
    padding: 14px 56px;
    color: #000;
    display: inline-block;
    transition: color .3s, background .3s;
    text-align: center;

    &:hover {
        color: #fff;
        background: $color-primary;
    }
}

.order-btn {
    width: 170px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    background: $color-primary;
    border-radius: 50%;
    transition: width .3s, height .3s;

    &:hover {
        width: 212px;
        height: 212px;
    }
}

.back-btn {
    &:hover:before {
        opacity: 0.2;
    }

    &:before {
        @include before-icon('../images/icons/back.svg', 57px, 40px);
        transition: opacity .3s;
    }
}

.submit {
    color: #fff;
    background: $color-primary;
    padding: 12px 45px;
    font-weight: 600;
    font-size: 14px;
}

.link {
    color: #000;
    transition: color .3s;

    &:hover {
        color: $color-primary;
    }

    &__text {
        margin-left: 15px;
    }

    &_white {
        color: #fff;
    }

    &_primary {
        color: $color-primary;
    }

    &_second {
        color: $color-secondary;
    }

    &_search,
    &_telegram {
        display: inline-flex;
        align-items: center;
    }

    &_telegram {
        &:before {
            @include before-icon('../images/icons/telegram.svg', 32px, 32px);
        }
    }

    &_search {
        &:before {
            @include before-icon('../images/icons/search.svg', 32px, 32px);
        }
    }

    &_more {
        &:after {
            @include before-icon('../images/icons/arrow.svg', 27px, 15px);
            transition: transform .3s;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
        }

        &:hover:after {
            transform: translateY(-50%) rotate(-40deg);
        }
    }
}

.link-box {
    padding: 16px 0;
    border-top: 1px solid $color-primary;
    border-bottom: 1px solid $color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    position: relative;
}

.circle-link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 194px;
    height: 194px;
    background: $color-primary;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity .4s, width .4s, height .4s;

    &:hover {
        opacity: 1;
        width: 233px;
        height: 233px;

        &:before {
            transform: translate(-50%, -50%) rotate(-90deg);
            opacity: 1;
        }
    }

    &:before {
        @include before-icon('../images/icons/arrow-white.svg', 50px, 28px);
        transition: transform .5s .15s, opacity .5s .15s;
        opacity: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, calc(-50% + 60px)) rotate(-90deg);
    }
}

.field {
    &__input {
        width: 100%;
        height: 40px;
        padding: 0 20px;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: #a3a3a3;
        }
    }
}

.title1 {
    font-size: 90px;
    line-height: 1;
    font-weight: 700;
}

.title2 {
    font-size: 32px;
    line-height: 1.2;
}

.subtitle {
    font-size: 38px;
    line-height: 1.3;
}

.text {
    font-size: 18px;
    line-height: 1.5;
}

.logo {
    &__img {
        max-width: 162px;
    }
}

.mobile-menu {
    display: none;
    position: relative;
    z-index: -1;
    margin-left: auto;
    padding-bottom: 6px;

    &__content {
        position: fixed;
        z-index: 3;
        left: 0;
        top: 0;
        padding: 140px 20px 40px;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
        transition: opacity .4s, visibility .4s, transform .45s;
        overflow-y: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        background: $color-bg;
    }
    
    &__list {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin: auto 0;
    }
    
    &__item {
        position: relative;
        margin: 10px 0;
    }

    &__link {
        font-size: 30px;
        line-height: 1.17;
    }
    
    &__toggle {
        height: 22px;
        width: 22px;
    }
    
    &__lines {
        position: relative;
        border: none;
        padding: 0;
        z-index: 6;

        &,
        &:before,
        &:after {
            content: '';
            height: 2px;
            transition: transform .3s, width .3s;
            background: #000;
            display: block;
            transform: rotate(0);
            width: 22px;
        }

        &:before {
            position: absolute;
            transform: translateY(-6px);
            display: block;
            right: 0;
        }
        
        &:after {
            content: '';
            position: absolute;
            display: block;
            transform: translateY(6px);
            right: 0;
        }
    }

    &__social {
        margin-top: auto;
    }

    &_active {
        .mobile-menu__content {
            visibility: visible;
            opacity: 1;
            transform: translateX(0);
        }
        
        .mobile-menu__lines {
            height: 0;

            &:before {
                transform: rotate(-45deg);
            }
            
            &:after {
                transform: rotate(45deg);
            }
        }
    }
}

.main-menu {
    position: relative;

    &__item {
        position: relative;
    }
    
    &__link {
        font-size: 90px;
        line-height: 1.5;
        font-weight: 700;
        display: block;
        color: #000;
        opacity: 0.3;
        transition: opacity .3s;
        text-transform: lowercase;

        &:hover {
            opacity: 1;

            & + .main-menu__img {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &__img {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        opacity: 0;
        visibility: hidden;
        border-radius: 17px;
        transition: opacity ease-in-out .4s, visibility ease-in-out .4s;

        &_sites {
            transform: rotate(348deg);
            width: 454px;
            height: 235px;
            left: 100px;
            top: -75px;
        }

        &_apps {
            transform: rotate(25deg);
            width: 190px;
            height: 388px;
            left: 363px;
            top: -115px;
        }

        &_design {
            transform: rotate(19deg);
            width: 497px;
            height: 266px;
            left: 221px;
            top: -77px;
        }

        &_bots {
            transform: rotate(346deg);
            width: 301px;
            height: 235px;
            left: 280px;
            top: -45px;
        }
    }

    &__circle {
        position: absolute;
        top: 0;
        left: 0;

        &:before {
            content: '';
            position: absolute;
            z-index: -2;
            top: -57px;
            left: -265px;
            border-radius: 50%;
            width: 636px;
            height: 636px;
            border: 2px solid $color-primary;   
            box-sizing: border-box; 
        }

        &:after {
            @include before-icon('../images/icons/star.svg', 56px, 57px);
            animation: rotate 1s infinite linear;
            position: absolute;
            left: 140px;
            top: -63px;
        }
    }
}

.add-menu {
    &__link {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.5;
        padding: 15px 0;
        display: inline-block;
    }
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;

    &__link {
        margin: 0 5px;
    }
}

.header {
    padding: 0 120px;
    display: flex;
    align-items: flex-start;

    &__logo {
        display: inline-block;
        transition: transform .3s;
        background: #000;
        padding: 60px 19px 9px;
        transform: translateY(-30px);

        &:hover {
            transform: translateY(0);
        }
    }

    &__right {
        margin-left: auto;
        padding-top: 30px;
    }

    &__telegram {
        margin-right: 30px;
    }
}

.main {
    flex: 1 1 auto;
    padding-top: 60px;
    display: flex;
    flex-direction: column;

    &__navigation {
        margin: 90px 0 240px;
    }

    &__consult {
        margin-top: auto;
    }

    &__contacts,
    &__not-found {
        margin-top: -60px;
    }
}

.content {
    padding-top: 60px;
}

.navigation {
    &__content {
        display: flex;
    }

    &__main-menu {
        flex: 0 0 865px;
        margin-right: 30px;
    }

    &__add {
        padding-top: 20px;
        flex: 1 1 auto;
    }

    &__add-menu {
        padding-left: 10px;
    }

    &__order {
        margin-top: 75px;
        width: 170px;
        height: 170px;
        position: relative;
    }

    &__order-btn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.footer {
    flex: 0 0 auto;
    background: #000;
    padding: 80px 0 100px;

    &__top {
        padding-bottom: 70px;
        border-bottom: 1px solid $color-secondary;
    }

    &__logo {
        &_desktop {
            margin-bottom: 25px;
            display: inline-block;
        }

        &_mobile {
            display: none;
        }
    }

    &__contact {
        margin-top: 12px;
    }

    &__phone {
        font-size: 24px;
        font-weight: 700;
    }

    &__menu-title {
        margin-bottom: 30px;
    }

    &__menu-title-link {
        font-weight: 700;
    }

    &__menu-item {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &__bottom {
        padding-top: 38px;
    }

    &__privacy {
        color: #737373;
    }
}

.projects {
    padding-top: 80px;
    overflow: hidden;

    &__title {
        max-width: 800px;
        margin-bottom: 80px;
    }

    &_black {
        background: #000;

        .projects__title {
            color: #fff;
        }
    }

    &_white {
        background: #fff;
    }

    &_pt_0 {
        padding-top: 0;
    }
}

.project {
    &__inf {
        padding: 55px 30px 30px;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    &__text {
        margin: 30px 0;
        max-width: 460px;
    }
    
    &__btn {
        margin-top: auto;
        display: block;

        &_mobile {
            margin-top: 45px;
            display: none;
        }
    }

    &__bg {
        position: relative;
    }

    &__img {
        display: block;
        width: 100%;
        height: 100%;
        max-height: 420px;
        object-position: top;
        object-fit: cover;
    }

    &_black {
        background: #000;

        .project__title {
            color: #fff;
        }

        .project__text {
            color: #949494;
        }

        .project__btn {
            color: #fff;
        }
    }

    &_gray {
        background: #f0f0f0;
    }

    &_next {
        .project__inf {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.cases {
    padding: 100px 0 55px;

    &__title {
        margin-bottom: 60px;
    }

    &__item {
        height: 100%;
        padding-right: 100px;
    }

    &_white {
        background: #fff;
    }
}

.case {
    display: flex;
    flex-direction: column;

    &__bg {
        position: relative;
    }

    &__circle-link {
        width: 139px;
        height: 139px;

        &:hover {
            width: 167px;
            height: 167px;
        }

        &:before {
            width: 35px;
            height: 19px;
        }
    }

    &__img {
        width: 100%;
        height: 246px;
        object-fit: cover;
        object-position: top;
    }

    &__title {
        margin-top: 30px;
    }

    &__text {
        color: #7e8794;
        margin: 15px 0 30px;
    }
}

.consult {
    position: sticky;
    bottom: 0;
    background: #000;

    &__content {
        display: flex;
        min-height: 110px;
        align-items: center;
    }

    &__title {
        color: #fff;
        font-size: 38px;
        font-weight: 400;
        padding-bottom: 5px;
    }

    &__form {
        margin-left: auto;
    }
}

.consult-form {
    display: flex;
    align-items: center;

    &__field {
        margin-right: 18px;
        flex: 1 1 auto;
        width: 220px;

        &_phone {
            width: 240px;
        }
    }
}

.single-project {
    padding: 110px 0 140px;

    &__title {
        text-align: center;
    }

    &__main {
        margin-top: 220px;
    }

    &__img {
        border: 21px solid $color-primary;
        display: block;
        margin: 0 auto;
    }
}

.next-case {
    background: #fff;
    padding: 60px 0 70px;

    &__title {
        margin-bottom: 70px;
    }
}

.apps {
    padding-top: 15px;

    &__title {
        max-width: 800px;
    }

    &__subtitle {
        margin-top: 25px;
        max-width: 800px;
    }

    &__list {
        margin-top: 120px;

        &:before {
            @include before-icon('../images/icons/arrow.svg', 25px, 14px);
            transform: rotate(90deg);
            margin-bottom: 27px;
        }
    }
}

.elems {
    padding: 50px 0 60px;

    &__title {
        margin-bottom: 50px;
    }

    &__main {
        margin-top: 120px;
    }

    &__list {
        margin-top: 30px;
    }

    &_white {
        background: #fff;
    }

    &_black {
        background: #000;

        .elems__title {
            color: #fff;
        }


    }
}

.elems-list {
    &__item {
        border-top: 1px solid #9AA4B3;

        &:not(:first-child) {
            margin-top: 100px;
        }
    }

    &_service {
        .elems-list__item {
            &:not(:first-child) {
                margin-top: 0;
            }
        }
    }
}

.elem {
    padding: 65px 0;
    display: flex;
    justify-content: space-between;

    &__header {
        display: flex;
        flex: 0 0 auto;
        width: 580px;
        margin-right: 20px;
    }

    &__title {
        font-weight: 700;
        width: 370px;
        max-width: 100%;
        flex: 0 0 auto;
    }

    &__text {
        flex: 1 1 auto;
    }

    &__num {
        width: 100px;
        flex: 0 0 auto;
        margin-top: 10px;
        font-size: 18px;
        line-height: 1.3;
    }

    &_task {
        .elem__num {
            width: 65px;
        }
    }

    &_vacancy {
        .elem__title {
            width: 330px;
        }
    }

    &_support {
        .elem__title {
            line-height: 1.1;
        }

        .elem__num {
            width: 65px;
        }
    }

    &_black {
        .elem__num,
        .elem__title,
        .elem__text {
            color: #fff;
        }
    }

    &_service {
        .elem__num {
            width: 60px;
        }
    }
}

.process {
    padding: 90px 0 85px;

    &__subtitle {
        margin-top: 25px;
    }

    &__list {
        margin-top: 100px;
    }

    &_white {
        background: #fff;
    }

    &_black {
        background: #000;

        .process__title {
            color: #fff;
        }

        .process__subtitle {
            color: #fff;
        }
    }

    &_support {
        padding: 0 0 70px;

        .process__subtitle {
            margin-top: 45px;
        }
    }
}

.process-list {
    &__item {
        height: 100%;
    }

    &_arrow {
        &:before {
            @include before-icon('../images/icons/arrow.svg', 25px, 14px);
            transform: rotate(90deg);
            margin-bottom: 38px;
        }
    }
}

.process-item {
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        align-items: center;
    }

    &__title {
        margin-top: 10px;
    }

    &__img {
        margin-right: 20px;
        max-width: 40px;
    }

    &__text {
        margin-top: 20px;
    }

    &__ul {
        margin-top: 15px;
    }

    &__li {
        &:before {
            content: '– ';
        }
    }

    &__footer {
        margin-top: auto;
    }

    &__link-box {
        margin-top: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &__link {
        font-weight: 500;
    }

    &__price {
        font-size: 25px;
        font-weight: 700;
        line-height: 1.2;
        margin-top: 23px;
    }

    &_black {
        .process-item__title {
            color: #fff;
        }

        .process-item__text {
            color: #c2c2c2;
        }

        .process-item__link {
            color: #fff;

            &:hover {
                color: $color-primary;
            }

            &:after {
                background-image: url('../images/icons/arrow-white.svg');
            }
        }

        .process-item__ul {
            color: #c2c2c2;
        }
    }

    &_bot {
        .process-item__link-box {
            margin-top: 70px;
        }
    }

    &_support {
        .process-item__header {
            align-items: flex-start;
        }

        .process-item__img {
            max-width: 32px;
            margin-top: 11px;
            margin-right: 30px;
        }

        .process-item__text {
            margin-top: 10px;
        }

        .process-item__link-box {
            margin-top: 25px;
        }
    }
}

.develop {
    background: #000;
    padding: 45px 0 60px;

    &__title {
        color: #fff;
    }
    
    &__list {
        margin-top: 100px;
    }
}

.develop-list {
    &__item {
        &:not(:first-child) {
            margin-top: 100px;
        }
    }
}

.develop-item {
    display: flex;
    align-items: flex-start;

    &__img {
        width: 48px;
        height: 48px;
        margin-right: 50px;
    }

    &__title {
        color: #fff;
    }

    &__text {
        margin-top: 15px;
        color: #949494;
        line-height: 1.2;
    }
}

.design {
    padding-top: 15px;

    &__section-header {
        margin-bottom: 160px;
    }

    &__sites-title {
        margin-bottom: 60px;
    }
}

.section-header {
    &__content {
        &:after {
            @include before-icon('../images/icons/arrow.svg', 26px, 14px);
            display: block;
            transform: rotate(90deg);
            margin-top: 100px;
        }
    }

    &__subtitle {
        margin-top: 25px;
    }

    &__btn {
        padding: 14px 30px;
        margin-top: 55px;
    }

    &_service {
        padding-bottom: 70px;

        .section-header__subtitle {
            margin-top: 55px;
        }
    }

    &_seo {
        padding-bottom: 100px;

        .section-header__subtitle {
            margin-top: 45px;
        }

        .section-header__content {
            &:after {
                display: none;
            }
        }
    }
}

.logotypes {
    padding: 65px 0 35px;

    &__title {
        margin-bottom: 60px;
    }
}

.logotype {
    position: relative;
    padding-top: 74.25%;

    &__img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.bots {
    padding-top: 15px;

    &__section-header {
        margin-bottom: 30px;

        .section-header__content {
            max-width: 900px;

            &:after {
                margin-top: 120px;
            }
        }
    }
}

.chat-bots {
    padding: 90px 0 65px;
    background: #fff;

    &__title {
        margin-bottom: 40px;
        max-width: 700px;
    }

    &__subtitle {
        margin-bottom: 100px;
        max-width: 980px;
    }
}

.chat-bot {
    display: flex;
    align-items: center;

    &__title {
        line-height: 1;
    }

    &__img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin-right: 28px;
    }
}

.bot-features {
    padding: 80px 0 130px;
    background: #000;

    &__title1 {
        color: #fff;
        margin-bottom: 55px;
    }

    &__subtitle {
        color: #fff;
        margin-bottom: 225px;
    }

    &__animate {
        margin: 0 0 35px 40px;
    }
}

.bot-animate {
    position: relative;
    width: 420px;

    &__eyebrows {
        position: relative;
        height: 75px;
    }

    &__eyebrow {
        position: absolute;

        &_left {
            left: 0;
        }

        &_right {
            right: 0;
        }
    }

    &__eyebrow-part {
        width: 25px;
        height: 25px;
        background: $bot-animate-color;
        position: absolute;

        &_left_1 {
            left: 0;
            top: 0;
        }

        &_left_2 {
            left: 25px;
            top: 25px;
        }

        &_left_3 {
            left: 50px;
            top: 50px;
        }

        &_right_1 {
            right: 0;
            top: 0;
        }

        &_right_2 {
            right: 25px;
            top: 25px;
        }

        &_right_3 {
            right: 50px;
            top: 50px;
        }
    }

    &__eyes {
        position: relative;
        margin-top: 60px;
        height: 50px;
    }

    &__eye {
        width: 50px;
        height: 50px;
        background: $bot-animate-color;
        position: absolute;

        &_left {
            left: 23px;
        }

        &_right {
            right: 23px;
        }
    }

    &__mouth {
        margin-top: 120px;
        width: calc(100% - 12.5px);
        height: 75px;
        position: relative;
    }

    &__mouth-corner {
        width: 25px;
        height: 50px;
        background: $bot-animate-color;
        position: absolute;
        top: 0;

        &_left {
            left: 0;
        }

        &_right {
            right: 0;
        }
    }

    &__middle-lip {
        position: absolute;
        width: 50px;
        height: 25px;
        background: $bot-animate-color;

        &_left {
            left: 25px;
            top: 25px;
        }

        &_right {
            right: 25px;
            top: 25px;
        }
    }

    &__lower-lips {
        width: 310px;
        height: 25px;
        background: $bot-animate-color;
        position: absolute;
        left: 50%;
        margin-left: -155px;
        bottom: 0;
    }

    &_active {
        .bot-animate__eyebrow-part,
        .bot-animate__eye,
        .bot-animate__mouth-corner,
        .bot-animate__middle-lip,
        .bot-animate__lower-lips {
            animation: rotate-up-down 2.6s .5s linear forwards;
        }
    }
}

.features-list {
    &__item {
        color: #c6ced9;
        font-size: 24px;
        line-height: 1.55;
        font-weight: 700;
        display: flex;
        align-items: flex-start;

        &:not(:first-child) {
            margin-top: 50px;
        }

        &:before {
            content: '';
            display: inline-block;
            width: 15px;
            height: 15px;
            flex: 0 0 auto;
            margin-top: 9px;
            border-radius: 50%;
            margin-right: 32px;
            background: $color-primary;
        }
    }
}

.tasks {
    padding-top: 50px;

    &__title {
        margin-bottom: 50px;
    }
}

.vacancies {
    &__elems-list {
        margin-top: 50px;
    }
}

.run-line {
    overflow: hidden;
    
    &__title1 {
        font-size: 114px;
        padding-right: 70px;
        white-space: nowrap;
    }
}

.contacts {
    padding: 90px 0 195px;
    overflow: hidden;

    &__main {
        margin-top: 92px;
    }

    &__main-content {
        position: relative;

        &:before {
            content: '';
            width: 594px;
            height: 594px;
            border-radius: 50%;
            border: 2px solid $color-primary;
            position: absolute;
            z-index: -1;
            right: -265px;
            top: -265px;
            animation: fade-in-scale .5s 1s forwards;
            visibility: hidden;
        }
    }

    &__text {
        margin-bottom: 5px;
        font-weight: 500;
        animation: fade-in-left .5s 1s forwards;
        visibility: hidden;
    }

    &__phone-item {
        margin-bottom: 30px;
    }

    &__phone {
        font-size: 87px;
        line-height: 1.2;
        margin-bottom: 50px;
        font-weight: 700;
    }

    &__emails {
        margin-top: 45px;
        display: flex;
    }

    &__email-item {
        flex: 0 1 400px;
    }

    &__email-text {
        animation: fade-in-left .5s 1s forwards;
        visibility: hidden;
    }

    &__email {
        font-size: 32px;
        line-height: 1.2;
        font-weight: 700;
    }
}

.faq {
    padding: 75px 0 85px;
    overflow: hidden;

    &__title {
        margin-bottom: 70px;
    }

    &_black {
        background: #000;

        .faq__title {
            color: #fff;
        }
    }
}

.faq-list {
    &__item {
        border-top: 1px solid #eee;

        &:last-child {
            border-bottom: 1px solid #eee;
        }
    }
}

.faq-item {
    padding-top: 26px;

    &__header {
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
            .faq-item__btn {
                background-color: $color-primary;

                path {
                    stroke: #fff;
                }
            }
        }
    }

    &__title {
        font-size: 38px;
        line-height: 1;
        font-weight: 700;
        margin-right: 20px;
        user-select: none;
    }

    &__btn {
        flex: 0 0 auto;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #c6ced9;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        transition: background .3s, transform .3s;

        path {
            transition: stroke .3s;
        }
    }

    &__text {
        font-size: 20px;
        line-height: 1.3;
    }

    &__main {
        transition: height .5s, margin .5s;
        height: 0;
        margin-top: 25px;
        overflow: hidden;
    }

    &__ul {
        list-style: disc;
        padding-left: 20px;

        &:not(:first-child) {
            margin: 26px 0 10px;
        }
    }

    &_black {
        .faq-item__title {
            color: #fff;
        }

        .faq-item__text {
            color: #c2c2c2;
        }
    }

    &_service {
        .faq-item__text {
            color: $color-bg;
        }
    }

    &_active {
        .faq-item__btn {
            transform: rotate(-45deg);
        }

        .faq-item__main {
            margin-bottom: 40px;
        }
    }
}

.results {
    padding: 45px 0 105px;
    overflow: hidden;

    &__title {
        margin-bottom: 100px;
    }
}

.result-item {
    &__header {
        display: flex;
        align-items: center;
    }
    
    &__img {
        margin-right: 40px;
        width: 60px;
        height: 60px;
        object-fit: cover;
    }

    &__title {
        font-size: 32px;
        line-height: 1;
        font-weight: 700;
        margin-top: 5px;
    }

    &__text {
        margin-top: 10px;
    }
}

.not-found {
    padding: 225px 0 180px;
    overflow: hidden;

    &__subtitle {
        font-size: 38px;
        line-height: 1.55;
    }

    &__header {
        position: relative;

        &:before {
            content: '';
            width: 636px;
            height: 636px;
            border-radius: 50%;
            border: 2px solid $color-primary;
            position: absolute;
            z-index: -1;
            right: -280px;
            top: -315px;
        }
    }

    &__subtitle {
        margin-bottom: 110px;
    }

    &__main-menu {
        margin-top: 250px;
    }
}

@import 'media';