@import 'mixins';
@import 'vars';
@import 'libs';
@import 'base';
@import 'fonts';

body {
    background: $color-bg;
}

.btn {
    line-height: 1.55;
    border-radius: 30px;
    border: 1px solid $color-primary;
    padding: 14px 56px;
    color: #000;
    display: inline-block;
    transition: color .3s, background .3s;

    &:hover {
        color: #fff;
        background: $color-primary;
    }
}

.order-btn {
    width: 170px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    background: $color-primary;
    border-radius: 50%;
    transition: width .3s, height .3s;

    &:hover {
        width: 212px;
        height: 212px;
    }
}

.link {
    color: #000;
    transition: color .3s;

    &:hover {
        color: $color-primary;
    }

    &__text {
        margin-left: 15px;
    }

    &_white {
        color: #fff;
    }

    &_second {
        color: $color-secondary;
    }

    &_search,
    &_telegram {
        display: inline-flex;
        align-items: center;
    }

    &_telegram {
        &:before {
            @include before-icon('../images/icons/telegram.svg', 32px, 32px);
        }
    }

    &_search {
        &:before {
            @include before-icon('../images/icons/search.svg', 32px, 32px);
        }
    }
}

.field {
    &__input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}

.title1 {
    font-size: 90px;
    line-height: 1;
    font-weight: 700;
}

.title2 {
    font-size: 32px;
    line-height: 1.2;
}

.text {
    font-size: 18px;
    line-height: 1.5;
}

.logo {
    &__img {
        max-width: 162px;
    }
}

.mobile-menu {
    display: none;
    position: relative;
    z-index: -1;
    margin-left: auto;
    padding-bottom: 6px;

    &__content {
        position: fixed;
        z-index: 3;
        left: 0;
        top: 0;
        padding: 140px 20px 40px;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
        transition: opacity .4s, visibility .4s, transform .45s;
        overflow-y: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        background: $color-bg;
    }
    
    &__list {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin: auto 0;
    }
    
    &__item {
        position: relative;
        margin: 10px 0;
    }

    &__link {
        font-size: 30px;
        line-height: 1.17;
    }
    
    &__toggle {
        height: 22px;
        width: 22px;
    }
    
    &__lines {
        position: relative;
        border: none;
        padding: 0;
        z-index: 6;

        &,
        &:before,
        &:after {
            content: '';
            height: 2px;
            transition: transform .3s, width .3s;
            background: #000;
            display: block;
            transform: rotate(0);
            width: 22px;
        }

        &:before {
            position: absolute;
            transform: translateY(-6px);
            display: block;
            right: 0;
        }
        
        &:after {
            content: '';
            position: absolute;
            display: block;
            transform: translateY(6px);
            right: 0;
        }
    }

    &__social {
        margin-top: auto;
    }

    &_active {
        .mobile-menu__content {
            visibility: visible;
            opacity: 1;
            transform: translateX(0);
        }
        
        .mobile-menu__lines {
            height: 0;

            &:before {
                transform: rotate(-45deg);
            }
            
            &:after {
                transform: rotate(45deg);
            }
        }
    }
}

.main-menu {
    position: relative;

    &__item {
        position: relative;
    }
    
    &__link {
        font-size: 90px;
        line-height: 1.5;
        font-weight: 700;
        display: block;
        color: #000;
        opacity: 0.3;
        transition: opacity .3s;
        text-transform: lowercase;

        &:hover {
            opacity: 1;

            & + .main-menu__img {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &__img {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        opacity: 0;
        visibility: hidden;
        border-radius: 17px;
        transition: opacity ease-in .5s, visibility ease-in .5s;

        &_sites {
            transform: rotate(348deg);
            width: 454px;
            height: 235px;
            left: 100px;
            top: -75px;
        }

        &_apps {
            transform: rotate(25deg);
            width: 190px;
            height: 388px;
            left: 363px;
            top: -115px;
        }

        &_design {
            transform: rotate(19deg);
            width: 497px;
            height: 266px;
            left: 221px;
            top: -77px;
        }

        &_bots {
            transform: rotate(346deg);
            width: 301px;
            height: 235px;
            left: 280px;
            top: -45px;
        }
    }

    &__circle {
        position: absolute;
        top: 0;
        left: 0;

        &:before {
            content: '';
            position: absolute;
            z-index: -2;
            top: -57px;
            left: -265px;
            border-radius: 50%;
            width: 636px;
            height: 636px;
            border: 2px solid $color-primary;   
            box-sizing: border-box; 
        }

        &:after {
            @include before-icon('../images/icons/star.svg', 56px, 57px);
            animation: rotate 1s infinite linear;
            position: absolute;
            left: 140px;
            top: -63px;
        }
    }
}

.add-menu {
    &__link {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.5;
        padding: 15px 0;
        display: inline-block;
    }
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;

    &__link {
        margin: 0 5px;
    }
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-80 {
    margin-top: 80px;
}

.header {
    padding: 0 120px;
    display: flex;
    align-items: flex-start;

    &__logo {
        display: inline-block;
        transition: transform .3s;
        background: #000;
        padding: 60px 19px 9px;
        transform: translateY(-30px);

        &:hover {
            transform: translateY(0);
        }
    }

    &__right {
        margin-left: auto;
        padding-top: 30px;
    }

    &__telegram {
        margin-right: 30px;
    }
}

.main {
    flex: 1 1 auto;
    padding-top: 60px;

    &__navigation {
        margin: 80px 0 240px;
    }
}

.content {
    padding-top: 60px;
}

.navigation {
    &__content {
        display: flex;
    }

    &__main-menu {
        flex: 0 0 865px;
        margin-right: 30px;
    }

    &__add {
        padding-top: 20px;
        flex: 1 1 auto;
    }

    &__add-menu {
        padding-left: 10px;
    }

    &__order {
        margin-top: 75px;
        width: 170px;
        height: 170px;
        position: relative;
    }

    &__order-btn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.footer {
    flex: 0 0 auto;
    background: #000;
    padding: 80px 0 100px;

    &__top {
        padding-bottom: 70px;
        border-bottom: 1px solid $color-secondary;
    }

    &__logo {
        &_desktop {
            margin-bottom: 25px;
            display: inline-block;
        }

        &_mobile {
            display: none;
        }
    }

    &__contact {
        margin-top: 12px;
    }

    &__phone {
        font-size: 24px;
        font-weight: 700;
    }

    &__menu-title {
        margin-bottom: 30px;
    }

    &__menu-title-link {
        font-weight: 700;
    }

    &__menu-item {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &__bottom {
        padding-top: 38px;
    }

    &__privacy {
        color: #737373;
    }
}

.projects {
    padding-top: 80px;
    overflow: hidden;

    &__title {
        max-width: 800px;
        margin-bottom: 80px;
    }

    &_black {
        background: #000;

        .projects__title {
            color: #fff;
        }
    }

    &_white {
        background: #fff;
    }

    &_pt_0 {
        padding-top: 0;
    }
}

.project {
    
    &__inf {
        padding: 55px 30px 25px;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    &__text {
        margin-top: 30px;
        max-width: 460px;
    }
    
    &__btn {
        margin-top: auto;
        display: block;

        &_mobile {
            margin-top: 45px;
            display: none;
        }
    }

    &__img {
        display: block;
        width: 100%;
        max-height: 420px;
        object-position: top;
        object-fit: cover;
    }

    &_black {
        background: #000;

        .project__title {
            color: #fff;
        }

        .project__text {
            color: #949494;
        }

        .project__btn {
            color: #fff;
        }
    }

    &_gray {
        background: #f0f0f0;
    }
}

.cases {
    padding: 100px 0 55px;

    &__title {
        margin-bottom: 60px;
    }

    &__item {
        height: 100%;
        padding-right: 100px;
    }

    &_white {
        background: #fff;
    }
}

.case {
    display: flex;
    flex-direction: column;

    &__img {
        width: 100%;
        height: 246px;
        object-fit: cover;
        object-position: top;
    }

    &__title {
        margin-top: 30px;
    }

    &__text {
        color: #7e8794;
        margin: 15px 0 30px;
    }

    &__link-box {
        padding: 16px 0;
        border-top: 1px solid $color-primary;
        border-bottom: 1px solid $color-primary;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
        position: relative;
    }

    &__link {
        &:after {
            @include before-icon('../images/icons/arrow-right.svg', 27px, 15px);
            transition: transform .3s;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
        }

        &:hover:after {
            transform: translateY(-50%) rotate(-40deg);
        }
    }
}

.callback {
    position: sticky;
    bottom: 0;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        animation-timing-function: ease-in-out;
    }
    100% {
        transform: rotate(360deg);
    }
}


@import 'media';