$color-primary:     #f03358;
$color-secondary:   #9aa4b3;
$color-bg:          #c6ced9;

$color-danger:      #D41131;
$color-success:     #3FD411;
$color-warning:     #D8AE1C;

$bot-animate-color: #03ff2d;